body{
    background-color: #1A1A1D; 
}
p{ color:#4E4E50; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
h1{
    color: #C3073F; 
    background-color:black ; text-align: center; text-decoration: underline; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
h2{
    font-style: italic; color:#950740; text-align: center; text-decoration: underline; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
} 
h3{   
   color: #6F2232; text-decoration: underline; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
nav{
display: flex;
flex-direction: row-reverse;
}
